[Desktop Entry]
Version=1.1
Name=PyAutoWallpaper
GenericName=Auto Wallpaper
Comment=will automatically download a wallpaper from unsplash
Exec=~/.local/share/autowallpaper/autowallpaper.py
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=true

